@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

/*Yellow : ffd900
purple : e63b99
Cyan : 69ddc8*/
html {
  font-size: 16px;
}

body{
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}

button {
  outline:0 !important;
}

a, a:hover {
  color:#fff;
  text-decoration: none;
  cursor: pointer;
}

.row{
  margin:0;
}

.gaming_row {
  flex-direction: row-reverse;
}

.background_img_top{
background: url('/images/photo_intro.jpg') no-repeat center fixed;
-webkit-background-size: cover; /* pour anciens Chrome et Safari */
background-size: cover; /* version standardisée */
height: 100vh;

}

.active-black{
background: linear-gradient( rgba(20,20,20, .5), rgba(20,20,20, .5));
}

.outer-div
{
     display: table;
     position: absolute;
     height: 100%;
     width: 100%;
}
.mid-div
{
     display: table-cell;
     vertical-align: middle;
}
.center-div
{
     margin: 0 auto;
}

.top_form{
display: block;
margin:0 auto;
}

.purple_buttons {
background: #e63b99;
padding:6px 10px;
border-radius: 6px;
border: none;
color:#fff;
font-weight: 500;
cursor:pointer;
font-size: 22px;
letter-spacing: 6px;
transition: 0.2s;
}

.purple_buttons:hover {
  letter-spacing: 8px;
}

.top_form .purple_buttons {
  letter-spacing: 2px;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}

.top_form .purple_buttons:hover {
  letter-spacing: 4px;
}

.top_form input {
  max-width:500px;
  width:30vw;
  border:none;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  float:left;
  min-width: 200px;
}

.form-control {
  font-size: 20px;
  padding: 7.5px;
}

.social_links{
position: fixed;
top:60px;
right:-26px;
transition: 0.2s;
z-index: 9;
padding:8px;
}

.social_links:hover{
  right:0px;
}

.twitter_icon{
background: url("/images/twitter.png") 2px 2px no-repeat;
background-color: #fff;
width:50px;
height:50px;
border-radius: 50%;
border:5px solid #ffd900;
transition: 0.4s;
}

.twitter_icon:hover{
background-image: url("/images/twitterbis.png");
background-color: #ffd900;
}

.facebook_icon{
background: url("/images/facebook.png") 2px 2px no-repeat;
background-color: #fff;
width:50px;
height:50px;
border-radius: 50%;
border:5px solid #e63b99;
transition: 0.4s;
}

.facebook_icon:hover{
background-image: url("/images/facebookbis.png");
background-color: #e63b99;
}

.telegram_icon{
background: url("/images/telegram.png") 2px 2px no-repeat;
background-color: #fff;
width:50px;
height:50px;
border-radius: 50%;
border:5px solid #69ddc8;
transition: 0.4s;
}

.telegram_icon:hover{
background-image: url("/images/telegrambis.png");
background-color: #69ddc8;
}

.social_links a {
  display: block;
  margin-bottom:20px;
}

#loading {
  margin: 0 auto;
  display: block;
  margin-top:50vh;
  font-size: 28px;
}

#header {
  background: #ffd900;
  height:40px;
  position: fixed;
  width:100%;
  z-index: 99;
  border-bottom:1px solid #e5c300;
}

#logo_top{
  line-height: 40px;
  margin-left:10px;
}

#header .col-4 img {
  margin:6px 10px;
}

#logo_top{
  height:100%;
}

#logo_top img {
  line-height: 100%;
}

#logo_enzym_shadow{
  padding-top:40px;
}

#logo_enzym_shadow img {
  margin: 0 auto;
  display: block;
  width:36vw;
  min-width: 360px;
}

#accroche, #accrochebis{
  color:#fff;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 2.2rem;
  margin-bottom: 3vh;
}

#accrochebis {
  font-size:1.8rem;
  margin-bottom: 12vh;
letter-spacing: 2px;

}

.social_logins {
text-align: center;
margin-top:50px;
margin-bottom: 20px;
}

.social_logins a {
font-size:16px;
}

.social_logins a:hover {
  text-decoration: underline;
}

/* Shared */
.loginBtn {
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.4em;
  padding: 4px 15px 4px 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 20px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--Facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--Facebook:before {
  border-right: #364e92 1px solid;
  background: url('/images/icon_facebook.png') 4px 9px no-repeat;
}
.loginBtn--Facebook:hover,
.loginBtn--Facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--Google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background-color: #DD4B39;
  background-image: linear-gradient(#DD4B39, #c64333);

}
.loginBtn--Google:before {
  border-right: #BB3F30 1px solid;
  background: url('/images/icon_google.png') 4px 9px no-repeat;
}
.loginBtn--Google:hover,
.loginBtn--Google:focus {
  background-color: #E95D4B;
  background-image: linear-gradient(#E95D4B, #E74B37);
}

/* Twitter */
.loginBtn--Twitter {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background-color: #08a0e9;
  background-image: linear-gradient(#08a0e9, #0790d1);

}
.loginBtn--Twitter:before {
  border-right: #1676a4 1px solid;
  background: url('/images/icon_twitter.png') 4px 9px no-repeat;
}
.loginBtn--Twitter:hover,
.loginBtn--twitter:focus {
  background-color: #20A9EB;
  background-image: linear-gradient(#20A9EB, #36b1ed);
}

.texte_valider_email {
color:#fff;
font-size: 1.6rem;
width:65vw;
margin: 0 auto;
display: block;
font-weight: 600;
text-align: center;
}

.referral_text {
  font-size: 16px;
  font-weight: 500;
  margin-top: 2vh;

}

.referral_text .share_text{
  font-size: 22px;
}

.referral_text a {
  color:#ffd900;
font-size: 20px;
}

.referral_text a:hover{
  text-decoration: underline;
}

.banner_ready{
  margin: 0 auto;
  display: block;
  width: 100vw;
  text-align: center;
  color:#fff;
}

.table {margin-bottom:-2px;}

.table-responsive {
  border-radius: 20px;
  border:10px solid #ffd900;
  color: #000;
  font-weight: 500;
  line-height:0.2;
  width: 80%;
  max-width: 860px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 2vh;
  font-size: 0.8rem;
}

tbody {
  max-height: 148px !important;
  display:block;
  max-height:300px;
  overflow-y:scroll;
  width:100%;
}

.table-responsive th {
  border-top-right-radius: 10px;
}

.table-responsive th:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
}

/*.tableau tr {
  border-bottom-right-radius: 10px;
}

.tableau th:first-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0px;
}*/

.table-striped thead{
  background:#ccc;
}

.table-responsive tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

.table-striped tbody tr {
  background: #fff;
}

.table-responsive th{
  width:75px;
}

.table-responsive th:nth-of-type(2){
  width:auto;
}

.table-responsive tbody tr td{
width:75px;
}

.table-responsive tbody tr td:nth-of-type(2){
width:auto;
}

.table-striped tbody tr:nth-of-type(odd) {
background:#F2F2F2;
}

.centered-user {
background: #e63b99 !important;
color:#fff;
font-weight: 700;
}

.know_more_gifts {
  font-size: 16px;
}

.know_more_gifts a{
color:#ffd900;
font-weight: 700;
}

.know_more_gifts a:hover{
  text-decoration: underline;
}

.SocialMediaShareButton {
display: inline-block;
margin: 20px;
cursor: pointer;
}

.col-6{
  padding: 0;
}

.col-6 img {
  width:inherit;
}

.text_blocks {
padding:4vw;
height:100%;
}

.text_blocks h4 {
font-size: 2.3rem;
letter-spacing:6px;
color: #e63b99;
text-transform: uppercase;
padding-bottom:1rem;
}

.jouez h4 {
  color: #69ddc8;
}

.text_blocks p {
  font-size: 1.45rem;
  color: #747474;
  text-align: justify;
}

.text_blocks p:last-of-type{ /* just in case */
  margin-bottom:0;
}

.joinus_banner{
  background-size: cover;
  background: url('/images/texture.png') repeat-x center;
  height:150px;
  line-height:150px;
  text-align: center;
}

.joinus_banner ~ .joinus_banner{
  background-position: 0 80%;
}

.joinus_banner button {
text-transform: uppercase;
line-height: 1.2;
display: inline-block;
vertical-align:middle;
padding:10px 40px;
font-size: 1.4rem;
box-shadow: 0px 0px 83px -15px rgba(0,0,0,0.75);
}

.titletab_ethique, .titletab_innovant{
  text-transform: uppercase;
  font-size: 2.8rem;
  color:#fff;
  background: #69ddc8;
  text-align: center;
  height:130px;
  line-height: 130px;
  cursor:default;
  font-weight: 500;
  letter-spacing: 4px;
}

.titletab_innovant{
background: #e63b99;
}

.tab_ethique, .tab_innovant{
  color:#fff;
  font-size: 24px;
  text-align: justify;
padding:20px;
  padding-top:50px;
  background: #69ddc8;
  padding-right:0;


}

.tab_innovant{
  background: #e63b99;
  padding-left:0;
}

.tab_innovant img, .tab_ethique img {
  width:80%;
  max-width:300px;
display:block;
margin: 0 auto;
padding-bottom:4vh;
}

.recompenses{
  background: #ffd900;
  text-align: justify;
  color:#fff;
  padding:80px 20px;
}

.recompenses .col-4{
  text-align: center;
}

.recompenses img {
  max-width: 260px;
  width:100%;
  padding: 0;

}

.recompenses .row {
  margin-top:40px;
}

.recompenses h2{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size:40px;
}

.recompenses p {
  line-height: 260px;
  margin-bottom:0;
}

.recompenses span {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  font-weight: 500;
  padding:20px;
}

.team{
  background: #e63b99;
  color: #fff;
  text-align: center;
  padding:0 50px;
}


.team h2 {
  text-transform: uppercase;
  letter-spacing: 6px;
  padding:30px 0;
}

.team img {
width:100%;
}

.team p {
letter-spacing: 3px;
font-size: 22px;
margin-top: 1.5vh;
}

.team span {
  font-size: 16px;
}

.slick-slide{
  padding:25px;
}

.slick-prev, .slick-next {
  height:auto;
  width:auto;
  z-index:99;
}

.slick-next{
right:-30px;
}

.slick-prev{
left:-30px;
}

/*.slick-prev:before, .slick-next:before {
  font-size: 28px;
}*/

.slick-prev:before {
  content: url("/images/fleche_gauche.png");
}

.slick-next:before {
  content: url("/images/fleche_droite.png");
}

.slick-dots {display: none;}

.footer {
  background: #abeadf;
  color: #fff;
}

.footer img {
height:100%;
}

.footer_links{
font-weight: 500;
height:120px;
line-height: 120px;
text-align: center;
letter-spacing: 3px;
font-size: 1rem;
}

.footer a:hover {
text-decoration: underline;
}

.logo_enzym_footer{
padding:16px;
margin:20px 0;
background:#fff;
border-radius: 50%;
text-align: center;
height: 80px;
width:80px;
}

@media screen and (min-width: 1572px) {
html {
  font-size:18px;
}
}

@media screen and (max-width: 1572px) {
html {
  font-size:14px;
}
}

@media screen and (max-width: 1209px) {
html {
  font-size:12px;
}
}



@media screen and (max-width: 1102px) {

.row_blocks{
  flex-direction: column-reverse !important;
}

.row_blocks .col-6 {
  max-width: 85%;
  flex: 0 0 85%;
  text-align: center;
  margin:0 auto;
}

.row_blocks .col-6 img {
  max-width: 90%;
  flex: 0 0 90%;
  margin-top:15px;
  margin-bottom:60px;
  border-bottom:1px solid #e63b99;
  padding-bottom: 30px;
}

.gaming_row img{
  border-bottom:1px solid #69ddc8 !important;
}

.row_blocks .col-6 p {
  font-size:24px;
  text-align: center;
}

.jouez h4 {
  margin-top:40px;
}
}

@media screen and (max-width: 650px) {
.logo_enzym_footer {
  padding: 12px;
  margin: 35px 0;
  height: 50px;
  width: 50px;
}

.referral_text span {
  font-size: 20px;
}
}

.grecaptcha-badge {
display:none;
}
